@model Microfichas_App.Models.Folder

@{
    ViewData["Title"] = "Eliminar Carpeta";
}

<h2>@ViewData["Title"]</h2>
<h3>¿Está seguro que desea eliminar esta carpeta?</h3>
<div>
    <h4>@Model.FolderName</h4>
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.FolderName</dd>
    </dl>

    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="FolderId" />
        <input type="hidden" asp-for="ParentFolderId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        @if (Model.ParentFolderId.HasValue)
        {
            <a asp-action="Index" asp-route-parentFolderId="@Model.ParentFolderId" class="btn btn-secondary">Cancelar</a>
        }
        else
        {
            <a asp-action="Index" controller="Home" class="btn btn-secondary">Cancelar</a>
        }
    </form>
</div>
