@model Microfichas_App.Models.FolderFilesViewModel
@{
    ViewData["Title"] = "Folders";
    var folderBreadcrumbs = ViewBag.FolderBreadcrumbs as Dictionary<int, List<Microfichas_App.Models.Breadcrumb>> ?? new Dictionary<int, List<Microfichas_App.Models.Breadcrumb>>();
    var fileBreadcrumbs = ViewBag.FileBreadcrumbs as Dictionary<int, List<Microfichas_App.Models.Breadcrumb>> ?? new Dictionary<int, List<Microfichas_App.Models.Breadcrumb>>();
}

<div class="container border rounded p-3 bg-white shadow-sm">
    <h2 class="mb-4">@ViewData["Title"]</h2>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="btn-container d-flex align-items-center">
            @if (Model.ParentFolderId.HasValue)
            {
                <a asp-action="Index" asp-route-parentFolderId="@Model.GrandParentFolderId" class="btn btn-secondary btn-sm shadow-sm me-2">Volver</a>
            }
            else
            {
                <a asp-action="Index" controller="Home" class="btn btn-secondary btn-sm shadow-sm me-2">Volver</a>
            }
            <button class="btn btn-primary btn-sm shadow-sm" data-toggle="modal" data-target="#createFolderModal">Crear Nueva Carpeta</button>
        </div>
        <div class="search-box input-group ms-auto">
            <span class="input-group-text">
                <img src="~/images/search-icon.png" alt="Buscar" class="icon" />
            </span>
            <input type="text" id="searchBox" class="form-control" placeholder="Buscar todo">
        </div>
    </div>
</div>



    @if (Model.Breadcrumbs != null && Model.Breadcrumbs.Count > 0)
    {
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-light shadow-sm">
                @foreach (var breadcrumb in Model.Breadcrumbs)
                {
                    <li class="breadcrumb-item @(breadcrumb.FolderId == Model.ParentFolderId ? "active-breadcrumb" : "previous-breadcrumb")">
                        @if (breadcrumb.FolderId != 0)
                        {
                            <a asp-action="Index" asp-route-parentFolderId="@breadcrumb.FolderId">@breadcrumb.FolderName</a>
                        }
                        else
                        {
                            <a asp-action="Index" asp-route-parentFolderId="">@breadcrumb.FolderName</a>
                        }
                    </li>
                }
            </ol>
        </nav>
    }

    @if (Model.IsSearching)
    {
        @Html.Partial("_SearchResults", Model)
    }
    else
    {
        <table class="table table-hover shadow-sm">
            <thead class="thead-light">
                <tr>
                    <th>
                        <span>Nombre</span>
                        <img src="~/images/flecha-icon.png" alt="Ordenar" class="sort-arrow" id="name-sort-icon" />
                    </th>
                    <th>Modificado por</th>
                    <th>
                        <span>Modificado el</span>
                        <img src="~/images/flecha-icon.png" alt="Ordenar" class="sort-arrow" id="date-sort-icon" />
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var folder in Model.Folders)
                {
                    <tr ondblclick="location.href='@Url.Action("Index", new { parentFolderId = folder.FolderId })'">
                        <td>
                            <a asp-action="Index" asp-route-parentFolderId="@folder.FolderId" class="folder-link">
                                <img src="~/images/folder-icon.png" alt="Folder Icon" class="icon" />
                                <span>@folder.FolderName</span>
                            </a>
                        </td>
                        <td>@folder.ModifiedBy</td>
                        <td>@(folder.ModifiedDate.HasValue ? folder.ModifiedDate.Value.ToString("dd/MM/yyyy HH:mm") : "")</td>
                        <td>
                            <button class="btn btn-sm btn-outline-primary shadow-sm btn-separador" data-toggle="modal" data-target="#editFolderModal" data-folder-id="@folder.FolderId" data-folder-name="@folder.FolderName">Editar</button>
                            <button class="btn btn-sm btn-outline-danger shadow-sm" data-toggle="modal" data-target="#deleteFolderModal" data-folder-id="@folder.FolderId" data-folder-name="@folder.FolderName">Eliminar</button>
                        </td>
                    </tr>
                }
                @foreach (var file in Model.Files)
                {
                    <tr ondblclick="location.href='@Url.Action("GetFile", new { filePath = file.Server + file.ContainerPath + file.FullFileName })'">
                        <td>
                            <a href="@Url.Action("GetFile", new { filePath = file.Server + file.ContainerPath + file.FullFileName })" target="_blank" class="file-link">
                                <img src="~/images/@(file.FileType.ToLower().TrimStart('.'))-icon.png" alt="@file.FileType Icon" class="icon" />
                                <span>@file.FileName</span>
                            </a>
                        </td>
                        <td>@file.ModifiedBy</td>
                        <td>@(file.ModifiedDate.HasValue ? file.ModifiedDate.Value.ToString("dd/MM/yyyy HH:mm") : "")</td>
                        <td>
                            <button class="btn btn-sm btn-outline-primary shadow-sm btn-separador" data-toggle="modal" data-target="#editFileModal" data-file-id="@file.FileId" data-file-name="@file.FileName">Editar</button>
                            <button class="btn btn-sm btn-outline-danger shadow-sm" data-toggle="modal" data-target="#deleteFileModal" data-file-id="@file.FileId" data-file-name="@file.FileName">Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @* Incluir el archivo parcial de modales *@
    @Html.Partial("_Modals")
</div>

@section Scripts {
    <script src="~/js/folderScripts.js"></script>
    <script src="~/js/fileScripts.js"></script>
    <script src="~/js/searchScripts.js"></script>
}
